$border_color: #e5e5e5;

body {
  header, hgroup, article, section, nav, footer {
    display: block;
    margin: 0;
    padding: 0;
  }
  header, footer {
    @extend .row;
    @extend .grid_12;
  }
  header {
    border-bottom: 1px solid $border_color;
  }
  footer {
    border-top: 1px solid $border_color;
  }
}