$border_color: #e5e5e5;

body {
  header, hgroup, article, section, nav, footer {
    display: block;
    margin: 0;
    padding: 0;
  }
  header#main, footer {
    @extend .row;
  }
  header#main {
    border-bottom: 1px solid $border_color;
    hgroup {
      @extend .grid_8;
      float: left;
    }
    nav {
      @extend .grid_4;
      float: right;
      text-align: right;
      li {
        list-style: none;
      }
    }
  }
  footer {
    border-top: 1px solid $border_color;
  }
}