<article>
  <section id="left_side">
    <p>Now accepting applications for Pirates and Global Warming conference.</p>
  </section>

  <section id="right_side">
    <%= render 'devise/sessions/form' %>
  </section>
</article>
