<%= render 'submission' %>


<nav id="submission_links">
  <ul>
    <li><%= link_to 'Edit this submission', edit_submission_url(@submission) %></li>
    <li><%= link_to 'PDF Version', pdf_submission_submission_url(@submission)%></li>
  </ul>
</nav>